html {
  background-color: #cce6ff;
}

@keyframes bgcolor {
  0% {
    background-color: #45a3e5;
  }

  30% {
    background-color: #86dd5a;
  }

  60% {
    background-color: #eb8b4c;
  }

  90% {
    background-color: rgb(241, 99, 123);
  }

  100% {
    background-color: #9964ce;
  }
}

body {
  -webkit-animation: bgcolor 20s infinite;
  animation: bgcolor 10s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

nav {
  background-color: #66b3ff;
  text-align: center;
  position: relative;
  display: inline-block;
}

.container {
  margin: 5%;
  border: solid lightgrey 1px;
  padding: 5%;
  background-color: white;
}

.nav-link:hover {
  background-color: cadetblue;
}

figure {
  margin: 5%;
}

.lungsContainer {
  background-color: blueviolet;
  color: white;
  margin: 5%;
  border: solid lightgrey 1px;
  padding: 5%;
}

.heartPage {
  background-color: #90c7ff;
}

.move {
  margin-top: 2%;
  margin-left: 2%;
}

.moveMore {
  margin-top: 3%;
  margin-left: 50%;
}

body {
  font-size: 20px;
  font-family: sans-serif;
  color: #333;
}
.question {
  font-weight: 600;
  margin-left: 3%;
  margin-top: 2%;
}
.answers {
  margin-bottom: 20px;
  margin-left: 3%;
}
.answers label {
  display: block;
}
#submit {
  font-family: sans-serif;
  font-size: 20px;
  background-color: #279;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 3%;
}
#submit:hover {
  background-color: #38a;
}
#develop {
  color: white;
  text-align: center;
  margin-top: 20%;
}
